header {
  @include pa_ma($md $xl-2, none);
  box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;

  .container {
    @include flex(center, space-between, center);
  }
}
header.active {
  @include positions(sticky, 0, none, 0, none, none, 100%);
  box-shadow: 0 0 4px 0 rgb(115 115 115 / 20%);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);

  .showCart {
    @include positions(absolute, 110%, none, none, 20px, 450px, auto);
  }
}
