@import "config";
@import "varibale";
@import "details";
@import "reset";
@import "responsive";
@import "../atoms/cart/cart.scss";
@import "../molecules/detailsProduct/detailsProduct.scss";
@import "../organism/home/home.scss";
@import "../atoms/navbar/navbar.scss";
@import "../molecules/filterProduct/filterProduct.scss";
@import "../organism/header/header.scss";

body {
  background: $light;
  font-family: "Poppins", sans-serif;
}
a {
  @include default;
  font-weight: weight(medium);
  color: $dark;
  @include transition;
  &:hover {
    color: $primary;
  }
}
input,
button,
li {
  @include default;
}
.button {
  @include width(
    150px,
    40px,
    linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%),
    $white,
    40px,
    none
  );
  @include flex(center, center, center);
  .heIcon {
    margin: 0 $sm;
    color: $white;
  }
}
.product,
.banner,
.shopping,
.detailsproduct {
  @include pa_ma($md $xl-2, none);
}

p {
  color: $blue;
  opacity: 0.7;
  font-size: $md;
}
.card {
  @include width(none, none, $white, none, 10px, 20px);
  background: $white;
  @include transition;
  &:hover {
    @include shadow(-5px 9px 20px 0px rgb(23 45 89 / 3%));
  }
}
.heading {
  text-align: center;
  @include pa_ma(0, $xl-4 0);
  h1 {
    font-size: $xl-2;
  }
}
.product_items {
  @include grid(repeat(4, 1fr), 30px);
  .box {
    cursor: pointer;
    .img {
      position: relative;
      img {
        @include width(100%, 100%, none, none, 20px, none);
      }
    }
    h3 {
      font-size: 16px;
    }
    p {
      display:-webkit-box;
      margin: 5px 0;
      max-width: 100%;
      height: 53px;
      line-height: 1.2;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .button {
      @include width($xl-6, $xl-6, $white, $blue, 50%, none);
      font-size: $lg;
      @include transition;
      margin: 5px;

      &:hover {
        background: $primary;
        color: $white;
      }
    }
    .overlay {
      @include flex(center, center, center);
      @include positions(absolute, none, $xl-4, 0, none, 100%, auto);
      opacity: 0;
      @include transition;
      transform: translateY(0);
    }
    &:hover .overlay {
      opacity: 1;
      transform: translateY(-30%);
    }
  }
}

.posts {
  @include grid(repeat(2, 1fr), 30px);
  margin-top: $xl-6;
  .post {
    .content {
      position: relative;
      .text {
        @include positions(absolute, 0, none, 0, none, 100%, 100%);
        padding: $xl-3;
        color: $white;
        h2 {
          margin: 5px 0;
        }
        p {
          color: $white;
          margin: 15px 0;
        }
      }
    }
  }
}
footer {
  text-align: center;
  @include pa_ma($xl-2, $large 0 0 0);
  background: $dark;
  p {
    color: $light;
  }
}
.modelOpen {
  @include positions(absolute, -50px, none, 0, none, 100%, 130vh);
  z-index: 999999;
  .onClickImage {
    position: relative;
    @include positions(fixed, 0px, none, 0, none, 100%, 110vh);
    @include flex(center, center, center);

    img {
      @include flex(center, center, center);
      width: 600px;
      height: 600px;
      z-index: 99999;
    }
    .button {
      @include positions(absolute, 13%, none, none, 29%, none, none);
      @include width(
        40px,
        40px,
        linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%),
        $white,
        40px,
        none
      );
      z-index: 999999;
    }
    &::after {
      content: "";
      @include positions(absolute, -50px, none, 0, none, 100%, 110vh);
      background: rgba(#000000, 0.8);
    }
  }
}
.modelClose {
  img,
  .button {
    display: none;
  }
}

.amplify-button {
  border: 0.1rem solid black;
  font-size: 1rem;
}

.amplify-button--primary {
  background: linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%);
  color: $white;
  border: 1px solid $white;
  border-radius: 1rem;
}

.amplify-button--primary:hover {
  background: linear-gradient(90deg, #ff4b2e 40%, #ff4267 100%);
  color: black;
  border: 1px solid black;
}

.amplify-button--link {
  color: #ff4267;
}

.amplify-tabs__item {
  color: black;
}

.amplify-tabs__item--active,
.amplify-tabs__item:hover {
  background-color: #ff4267;
  color: $white;
  border-color: $white;
}

.amplify-input {
  border-radius: 1rem;
  border: 0.1rem solid black;
  font-size: 1rem;
}

.amplify-image {
  width: 50%;
}

[data-amplify-authenticator][data-variation="modal"] {
  background-color: $white;
}
